*{
  padding: 0;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.setup{
  margin-top: -100px;
}
.punchline{
  margin-top: -80px;
}
.jokes{
  color:gray;
  font-size:small;
  margin-left: 35%;
  position: absolute;
}
#laughingIcon{
  position:absolute;
  bottom:12%;
  margin-left:30%;
}
.wish{
 margin-left: 2%;
}
.wishList{
  position: fixed;
  aspect-ratio: 1/1;
  inset:0;
  margin:auto;
  width: 35%;
  z-index: 300;
  border-radius: 10px;
  display: none;
}
.wishList img{
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px black;
}
.crossDiv{
  width:40px;
  height:40px;
  margin-top:-100%;

}

.wishList .fa-solid{
  position: absolute;
  top:5px;
  right:5px;
  z-index: 1000;

}
.oo{
  width:30px;
  height:30px;
  background-color:red;
}
.main-box, .Shop_box, .categories_box{
  width: 100%;
  min-height: 100vh;
}
.Shop_box{
  color:grey;
  min-height: 100vh;
}
/*Home*/
.home_nav{
  width: 100%;
  height: 50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 2px black;
  position: fixed;
  z-index: 100;
  gap:20px;
}
.services ul{
  display: flex;
  justify-content: center;
  align-items:center;
  list-style: none;
  gap:15px;
  width:250px;
  margin-right: 20px;  
}
.services ul li a{
  text-decoration: none;
  color: grey;
  font-size:13px;
  transition: 1s;
}
.services ul li a:hover{
  color:rgba(255, 2, 2, 0.3)
}
#icons{
  display: flex;
  gap:30px;
  color: white;
  position: fixed;
  left:40%;
}


#icons i:hover{
  color:red;
}


.h2{
  display: flex;
  justify-content:center;
  align-items:center;
  width:160px;
  height: 100%;
  flex-shrink: 0;
  font-size: 20px;
  color: transparent;
  margin-left:20px;
  font-weight: bold;
  color: aliceblue;
  cursor: pointer;
}
.sub-box{
  width: 100%;
  min-height:100vh;
  overflow: hidden;
  position: relative;
}
.sub-box-child1{
  width: 100%;
  height: 85vh;
  margin-top:70px;
  display: flex;
  animation: grand-children 8s;
  animation-iteration-count: infinite;  
  animation-timing-function:steps(1); 
}
.grand-child1, .grand-child2, .grand-child3{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;  
  justify-content: space-around;

}
.grand-child1{
  margin-left:0 ;
}
.grand-child2{
  margin-left: 100%;
}
.grand-child3{
  margin-left: 200%;
}
.childImg{
  aspect-ratio: 1/1;
  width:30%;
  border-radius: 50%;
  right:10%;
  position: relative;
}
.childImg img{
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow:0 5px 15px black;
  border-radius: 50%;
}

.productDetail{
  aspect-ratio: 1/1;
  width:35%;
  left: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
}
#order{
  width:150px;
  height:40px;
  background-color: rgb(1,0,41);
  color:white;
  border-style: none;
  border-radius: 10px;
  transition: 1s;
}
#order:hover{
  background-color:brown;
}
#popularName{
  font-size: 50px;
  color:grey;
  font-weight: 1000;
}
#popularDescription{
  color:grey;
}
@keyframes grand-children{
  0%{transform:translateX(0)}
  25%{transform:translateX(-100%)}
  50%{transform:translateX(-200%)}
 
}
/*Shop*/
.shop_nav{
  width: 100%;
  height: 50px;
  box-shadow: 0px 2px 2px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  margin-bottom: 30px;
  position: fixed;
  z-index: 100;
  inset: 0 0 0 0;
  background-color: white;
}
.shop_nav img{
  width: 40px;
  height: 40px;
  display: block;
  opacity: 1;
}
#numOfItems{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:12px;
  position: absolute;
  right: 26px;
  opacity: 0;
}
.nav_right{
  display: flex;
}
.products_box{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap:20px;
  justify-content: center;
  margin-top:20px;
  width: 90%;
  font-size: 12px;
}
.subContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.subContainer h1, #h1{
  color: brown;
}
.trolly{
  margin-right: 20px;
}
.products{
  aspect-ratio: 1/1.3;
  width: 15%;
  box-shadow: 0 0 5px black;
  position: relative;
  display: flex;
  align-items: space-between;
  flex-shrink: 0;
  transition: 1s;
}
.product_img img{
  position: absolute;
  width: 100%;
  height: 100%;
  
}
.product_img{
  position: absolute;
  width: 100%;
  height: 70%;
}

.details{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  width: 100%;
  height:30%;
  bottom: 0;
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 3;
}
.price{
  display: flex;
  gap:30%;
  font-size: 11px;
  align-items: center;
  justify-content: center;
  
}
.price button{
  background-color: white;
  border-width: 1px;
  width: 50px;
  font-size: 9px;
  background-color: rgba(255, 2, 2, 0.3);
  transition:1s;
}
.price button:hover{
  background-color: green;
}

/*Categories*/
.categories_box{
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  gap:10px;
  align-items: center;
}

.cakes{
  width: 100%;
  height:200px;
  display: flex;
  align-items: flex-start;
  gap:10px;
}
#item{
   min-height: 150px;
   min-width: 150px;
   border-style:solid;
   border-width: 2px;
   position: relative;
   
   }
    #item img{
    object-fit: cover;
    width: 100%;
    height:100%;
    opacity: 1;
    position: absolute;
    }
    .cakes p{
    writing-mode:vertical-lr;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    left:-1px;
    background-color: white;
    }
    /*About*/
    .About_box{
    background-color: #161616;
    width: 100%;
    height: 60vh;
    display: flex;
    padding-top: 80px;
    align-items: center;
    flex-direction: column;
    }
    .mission p{
      color: white;
      font-size: 30px;
      flex:1;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-top: -20px;
    }
    .company_info{
      display: flex;
      width: 90%;
      flex:2;
      align-items: center;
      justify-content:center;
      position: relative;
      margin-top: -40px;
    }
.company_info p{
  width:25%;
  color: white;
  font: bold;
  font-size: 16px;
  margin-right: auto;
  font-family: 'Times New Roman', Times, serif;
}
.company_info img{
  width: 50%;
  height: 250px;
  object-fit: contain;
  opacity: 1;
}
.delivery{
  width: 100%;
  height: 40vh;
  position:absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.delivery p{
  width:20%;
  color: black;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

/* for 600px screens and below*/
@media only screen and (max-width:600px){
  /*Home*/
  .grand-child1, .grand-child2, .grand-child3{
    top:-10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    width: 100%;
  }

  .productDetail{
    width:100%;
    height: 50%;
    gap:10px;
    padding-left: 30px;
  }
  h2{
    margin-top:0;
  }
  .h2{
    width: 100%;
    margin-left:0px
  }
 #popularName{
  font-size:30px;
 }
 .childImg{
    width: 100%;
    height: 50%;
    border-radius: 0;
    position: static;
    display: flex;
    justify-content: center;
    align-items: flex-start;
 }
 .childImg img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  box-shadow:0 5px 15px black;
  border-radius: 50%;
}

 .home_nav{
  height:15%;
  box-shadow:0 1px 1px black;
 }

 #icons{
  display:none;
 }
 .services{
  width: 100%;
  position:absolute;
  display: flex;
  justify-content: center;
  bottom:5px;
 }
  .services ul{
    width:280px;
  }

  /*Shop*/
  .products{
    min-width: 120px;
  }
  /*Categories*/
  .cakes{
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-left: 40px;
  }
  .cakes p{
    background-color: rgb(255, 255, 255);
    z-index: 20;
    position: absolute;
    height: 150px;
  }
 
 .company_info p, .delivery p{
  font-size: 10px;
  width: 100px;
 }
 .delivery img{
  width:40%;
 }
 .company_info img{
  height:300px;
 }
 .mission p{
  font-size: 20px;
 }
 section p{
  font-size:10px;
 }
.jokes, #laughingIcon{
  display: none;
}
.wishList{
  width:70%;
}

}
@media only screen and (max-width:300px){
  .childImg img{
    width:180px;
    height:180px;
  }
  .productDetail{
    height:60%;
    gap:1px;
  }
}


